body{
    font-family:'Montserrat,'sans-serif;
    margin: 0px;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
      height: 100vh;
      background-color:black;
      border: 2px solid wheat;
      display: flex;
      padding: 0.5rem;
}
.sidebar{
    width: 330px;
    background-color:black;
    margin-right: 0.5rem;
    border-radius: 1rem;
}
.sidebar a{
    text-decoration: none;
    color: white;
}


.sidebar .nav{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
}
.library{
    background-color:#121212;
    border-radius: 1rem;
    height: 100vh;
padding: 0.5rem 0.75rem;
margin-top: 0.5rem;
}
.main-content{
    background-color:#121212;
    flex-grow: 1;
    overflow: auto;
    border-radius: 1rem;
    padding: 0 1.5rem;
    
}
.option{
    display: flex;
    justify-content:space-around;
}
.option img{
    height: 1.25rem;
    width: 1.25 rem;
}
.option .icons i{
    margin-right: 1rem;
    font-size: 1.25rem;
    opacity: 0.5;
    
}
.option .icons i:hover{
    opacity: 1;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 1rem;
}
.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 1.75rem 0 1.75rem 0;
    padding: 0.75rem ;

    .box .box-p1{
        font-weight:500 ;
        font-size: 1rem;
    }
    .box .box-p2{
        font-size: 0.85rem;
        opacity: 0.9;
    }
    .badge{
        background-color: white;
        border-radius: 1rem;
        border: none;
        height: 2rem;
        padding: 0.25rem 1rem;
        font-weight: 700;
    }
}rem
.nav-option{
    line-height: 2.5rem;
    padding: 0.5rem 0.75rem;
    opacity: 0.7;

}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    margin-left: 1rem;
    font-size: 1rem;
}
.badge1{
     background-color: white;
        border-radius: 1rem;
        border: none;
        height: 2rem;
        padding: 0.25rem 1rem;
        font-weight: 700;
       
}
.sticky-nav{
    background-color: #121212;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0rem 0.75rem;
    position: sticky;
    top: 0;
    z-index: 10;
}
.sticky-nav-icons{
    font-size: 2rem;
    margin-left: 0.75rem;

}
.sticky-nav-option{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky-nav-option button{
    margin-left: 1rem;
}
.fa-regular{
    margin-left: 1rem;
}
.card{
    background-color:#232323;
    width: 150px;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.card-imag{
    width: 100%;

}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.8;
}
.card-container{
    display: flex;
}
.music-player{
    background-color: bisque;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 72px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.control-bttns{
    display: flex;
    gap: 20px;
}
.btn{
    width: 1rem;
    height: 1rem;
}
.play-btn{
    width: 1rem;
    height: 2rem;
}
.left-btn{
    margin: 8px 8px 0 0;
    display: flex;
    gap: 20px;
}
.right-btn{
    margin: 8px 8px 0 0 ;
    display: flex;
    gap: 20px;
}
.op-btns{
    opacity: 0.7;
}
.op-btns:hover{
    opacity: 1;
}
.timeline{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.time{
    padding-top: 4px;
    color: white;
}
.progrss-bar{
    
height: 0.5rem;
} 
