body {
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: black;
}